<% if notice != nil %>
 	<br>
 	<div class="alert alert-info" id="notice" role="alert"><%= notice %></div>
 <% end %>


<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %> |
<%= link_to 'Back', users_path, class:'btn btn-primary' %>