<% cache product do %>  
  <div class="col-xs-6 col-md-4">
    <%= image_tag(product.image_url, class: "img-responsive") unless product.image_url.blank? %>
    <h3><%= product.year%> <%= product.make %> <%= product.model %></h3>
    <h4><%= product.description %></h4>
    <h2><%= product.price %></h2>
    <%= link_to 'Show', product, class: "btn btn-link" %>
    <%= link_to 'Edit', edit_product_path(product), class: "btn btn-link" %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
  </div>
<% end %>