<p id="notice"><%= notice %></p>

<div class="container product">
  <div class="row">
    <div class="col-sm-8 col-lg-7">
       <%= image_tag(@product.image_url, class:"img-zoom img-thumbnail product_image", data_zoom_image: @product.image_url) %>   
    </div>
      <div class="col-sm-2 col-lg-4">
        <p><strong>Year:</strong><%= @product.year %></p>
        <p><strong>Make:</strong><%= @product.make %></p>
        <p><strong>Model:</strong><%= @product.model %></p>
        <p><strong>Miles:</strong><%= @product.miles %></p>
        <p><strong>Color:</strong><%= @product.color %></p>
        <p><strong>Price:</strong><%= @product.price %></p>
        <p><strong>Description:</strong><%= @product.description %></p>
        <p><strong>Average Rating:</strong> <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
        <p><%= form_tag "/payments/create" do %>
          <%= render partial: "Shared/stripe_checkout_button" %>
        <% end %></p>
      </div>

 <div class="col-sm-2 col-lg-10">  
  <% if signed_in? %>
  <strong>Add a review:</strong>
    <%= form_for([@product, @product.comments.build]) do |f| %>
  
    
  <div class="Comments">
    <%= f.label :body, class: "form-control"  "Comments" %><br> 
    <%= f.text_area :body %>
    
  </div>

    <div class="rating">
      <%= f.label :body, "Rating" %><br>
    </div>  
    <p>
      <%= f.submit class: "btn btn-default" "Submit" %>
    </p>
      <% end %>
    <% end %>

    <%= render 'comments' %>
    <%= will_paginate @comments %>

</div>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>




